<table>
    <tr id="tableHeader">
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Subject</th>
    </tr>
    @for (record of members; track $index) {
        <tr id="tableRecord" #tableRecord>
            <td>{{record.id}}
                <input
                    placeholder="Name"
                    [(ngModel)]=record.name name="name" #nameCtrl="ngModel" required />
                @if (trigger) {
                    @if(nameCtrl.errors?.['required']){
                        <br><small>* Name is required.</small>
                    }
                }
            </td>
            <td>
                <input [ngClass]="trigger&&(emailCtrl.errors?.['required'] || emailCtrl.errors?.['email']) ? 'error' : ''"
                    placeholder="Email"
                    [(ngModel)]=record.email name="email" #emailCtrl="ngModel" required email/>
                @if (trigger) {
                    @if(emailCtrl.errors?.['required']){
                        <br><small>* Email is required.</small>
                    }@else if (emailCtrl.errors?.['email']) {
                        <br><small>* ! Invalid email address.</small>
                    }
                    
                }
            </td>
            <td>
                <input [ngClass]="trigger&&phoneCtrl.errors?.['required'] ? 'error' : ''"
                    type="number"
                    placeholder="Phone Number"
                    [(ngModel)]=record.phone #phoneCtrl="ngModel" required/>
                @if (trigger) {
                    @if(phoneCtrl.errors?.['required']){
                        <br><small>* Phone number is required.</small>
                    }
                }
            </td>
            <td>
                <mat-select placeholder="Select Subject"
                    multiple
                    [(ngModel)]="record.subjects">
                    <mat-option (click)="toggleSelectAll($index)" [value]="'__select_all__'"
                        class="no-checkmark" disableRipple>
                        <b>Select All</b>
                    </mat-option>
                    @for (subject of subjects; track $index) {
                        <mat-option [value]="subject">{{ subject }}</mat-option>
                    }
                </mat-select>
                
            </td>
            <td><button (click)="saveMember(record)"><mat-icon>done</mat-icon></button></td>
            <td><button (click)="deleteRow(record)"><mat-icon>delete_forever</mat-icon></button></td>
        </tr>
    }
</table>